
.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  margin-top: 15px;
  color: red;
  text-align: center;
}

/* Style pour le lien de retour à l'accueil */
.back-to-home {
  text-align: center;
  margin-top: 20px;
}

.back-to-home a {
  color: #007bff;
  text-decoration: none;
  font-size: 1rem;
}

.back-to-home a:hover {
  text-decoration: underline;
}

/* Conteneur principal */
.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Section principale avec le titre */
  .hero {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .app-name {
    color: #007bff;
    font-weight: bold;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-button {
    margin : 0.25rem;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }
  
  /* Section des fonctionnalités */
  .features {
    margin-bottom: 40px;
  }
  
  .features h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .feature-item {
    width: 30%;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .feature-item p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* Section À propos */
  .about h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .about p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
  }
